html_layout/pug/layout/404-content.pug
section
    .container-fluid
        .row.align-items-center
            .col-8
                h1 
                    i.icon-four
                    i.icon-x
                    i.icon-four
            .col-4
                .description
                    h2.title Przepraszamy ta strona nie istnieje
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
                    a.icon-left Powrót do strony głównej sklepu

html_layout/layout/404-content.html

<section>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-8">
        <h1> <i class="icon-four"></i><i class="icon-x"></i><i class="icon-four"></i></h1>
      </div>
      <div class="col-4">
        <div class="description">
          <h2 class="title">Przepraszamy ta strona nie istnieje</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p><a class="icon-left">Powrót do strony głównej sklepu</a>
        </div>
      </div>
    </div>
  </div>
</section>
