html_layout/layout/contacts-content.html

<section>
  <div class="container-fluid">
    <div class="row align-items-end">
      <div class="col">
        <div class="img-contacts"><img src="img/photo-6.png" alt=""/></div>
      </div>
      <div class="col col-auto">
        <div class="description-contacts">
          <h1 class="title">Ten Fajny Sklep lorem ipsum sit amed dolor sit</h1>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
          <h4 class="title">Warszawa</h4>
          <p>TFM Ten Fajny Sklep Sp. z o.o.<br/>ul. Krucza 50 (WeWork I piętro)<br/>00-025 Warszawa<br/>NIP: 679 320 72 93</p>
          <ul class="soc">
            <li class="icon-facebook"><a href="#"></a></li>
            <li class="icon-instagram"><a href="#"></a></li>
            <li class="icon-twitter"><a href="#"></a></li>
          </ul><a class="button" href="#">Idź do sklepu</a>
        </div>
      </div>
    </div>
  </div>
</section>

html_layout/pug/layout/contacts-content.pug
section
    .container-fluid
        .row.align-items-end
            .col
                .img-contacts
                    img(src="img/photo-6.png", alt="")
            .col.col-auto
                .description-contacts
                    h1.title Ten Fajny Sklep lorem ipsum sit amed dolor sit
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                    h4.title Warszawa
                    p TFM Ten Fajny Sklep Sp. z o.o.
                        br
                        | ul. Krucza 50 (WeWork I piętro)
                        br
                        | 00-025 Warszawa
                        br
                        | NIP: 679 320 72 93
                    ul.soc
                        li.icon-facebook
                            a(href="#")
                        li.icon-instagram
                            a(href="#")
                        li.icon-twitter
                            a(href="#")
                    a.button(href="#") Idź do sklepu
