html_layout/pug/layout/content.pug
section
    .container-fluid
        .row
            .col-5
                .event
                    .img.icon-x
                        img(src="", alt="")
                    .description
                        h1.title Świąteczne okazje 2020
                        a.icon-chevron.link(href="#") Zobacz więcej
                .category-link
                    h3.widgettitle Kategorie zakupów
                    ul.menu
                        li.current-menu-item
                            a(href="#") Kalendarze i artykuły szkolne
                        li
                            a(href="#") Kalendarz ścienny
                        li
                            a(href="#") Kartki okolicznościowe
                        li
                            a(href="#") Gadżety
                        li
                            a(href="#") Kubki
                        li
                            a(href="#") Torby
                        li
                            a(href="#") Gry planszowe
                        li
                            a(href="#") Odzież
                        li
                            a(href="#") Bluzy
                        li
                            a(href="#") Sety dresów
                        li
                            a(href="#") Koszulki
                        li
                            a(href="#") Czapki
                        li
                            a(href="#") Szaliki lub kominy
                        li
                            a(href="#") Promocje
                        li
                            a(href="#") Kosmetyki
            .col-7
                .home-slider
                    .item
                        img(src="img/photo.png", alt="#")
                        .description
                            h2.title Lorem ipsum sit amed
                            a.button(href="#") Zobacz kolekcję
                    .item
                        img(src="img/photo-2.png", alt="#")
                        .description
                            h2.title Lorem ipsum sit amed
                            a.button(href="#") Zobacz kolekcję
                    .item
                        img(src="img/photo.png", alt="#")
                        .description
                            h2.title Lorem ipsum sit amed
                            a.button(href="#") Zobacz kolekcję
                    .item
                        img(src="img/photo-2.png", alt="#")
                        .description
                            h2.title Lorem ipsum sit amed
                            a.button(href="#") Zobacz kolekcję

html_layout/layout/content.html

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <div class="event">
          <div class="img icon-x"><img src="" alt=""/></div>
          <div class="description">
            <h1 class="title">Świąteczne okazje 2020</h1><a class="icon-chevron link" href="#">Zobacz więcej</a>
          </div>
        </div>
        <div class="category-link">
          <h3 class="widgettitle">Kategorie zakupów</h3>
          <ul class="menu">
            <li class="current-menu-item"><a href="#">Kalendarze i artykuły szkolne</a></li>
            <li><a href="#">Kalendarz ścienny</a></li>
            <li><a href="#">Kartki okolicznościowe</a></li>
            <li><a href="#">Gadżety</a></li>
            <li><a href="#">Kubki</a></li>
            <li><a href="#">Torby</a></li>
            <li><a href="#">Gry planszowe</a></li>
            <li><a href="#">Odzież</a></li>
            <li><a href="#">Bluzy</a></li>
            <li><a href="#">Sety dresów</a></li>
            <li><a href="#">Koszulki</a></li>
            <li><a href="#">Czapki</a></li>
            <li><a href="#">Szaliki lub kominy</a></li>
            <li><a href="#">Promocje</a></li>
            <li><a href="#">Kosmetyki</a></li>
          </ul>
        </div>
      </div>
      <div class="col-7">
        <div class="home-slider">
          <div class="item"><img src="img/photo.png" alt="#"/>
            <div class="description">
              <h2 class="title">Lorem ipsum sit amed</h2><a class="button" href="#">Zobacz kolekcję</a>
            </div>
          </div>
          <div class="item"><img src="img/photo-2.png" alt="#"/>
            <div class="description">
              <h2 class="title">Lorem ipsum sit amed</h2><a class="button" href="#">Zobacz kolekcję</a>
            </div>
          </div>
          <div class="item"><img src="img/photo.png" alt="#"/>
            <div class="description">
              <h2 class="title">Lorem ipsum sit amed</h2><a class="button" href="#">Zobacz kolekcję</a>
            </div>
          </div>
          <div class="item"><img src="img/photo-2.png" alt="#"/>
            <div class="description">
              <h2 class="title">Lorem ipsum sit amed</h2><a class="button" href="#">Zobacz kolekcję</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
