html_layout/pug/layout/empty-cart-content.pug
section
    .container-fluid
        .row.align-items-center 
            .col 
                .empty-cart
                    i.icon-empty-cart
                    h2.title Twój koszyk aktualnie jest pusty.
                    a.button(href="#") Wróć do Sklepu

html_layout/layout/empty-cart-content.html

<section>
  <div class="container-fluid">
    <div class="row align-items-center"> 
      <div class="col"> 
        <div class="empty-cart"><i class="icon-empty-cart"></i>
          <h2 class="title">Twój koszyk aktualnie jest pusty.</h2><a class="button" href="#">Wróć do Sklepu</a>
        </div>
      </div>
    </div>
  </div>
</section>
