html_layout/layout/products-category-content.html

<section class="products"> 
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <div class="top-head">
          <h1 class="title">Wyniki dla:<span class="icon-edited">bluza</span></h1><a class="icon-right" href="#">Przewiń po więcej</a>
        </div>
        <div class="products-slider" data-title="Cypriano Italiano">
          <div class="item">
            <p class="sale-budge">-20%</p><a href="#"><img src="img/bluza.png" alt=""/></a>
            <p class="meta">Cypriano Italiano</p>
            <h3 class="title"><a href="#">Bluza z kapturem</a></h3>
            <form class="form">
              <div class="price-block">
                <p class="price"><span>200 zł</span>140 zł</p>
              </div>
              <div class="choice">
                <div class="select">
                  <select>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                    <option>XXXL</option>
                  </select>
                </div>
                <div class="radio-items">
                  <div class="radio">
                    <input id="black-1" type="radio" name="color-1"/>
                    <label for="black-1" style="color:#000000;"></label>
                  </div>
                  <div class="radio">
                    <input id="grey-1" type="radio" name="color-1"/>
                    <label for="grey-1" style="color:#B2B2B3;"></label>
                  </div>
                  <div class="radio">
                    <input id="orange-1" type="radio" name="color-1"/>
                    <label for="orange-1" style="color:#F26C4F;"></label>
                  </div>
                </div>
                <button class="button icon-plus" type="submit">Dodaj do koszyka</button>
              </div>
            </form>
          </div>
          <div class="item"><a href="#"><img src="img/bluza.png" alt=""/></a>
            <p class="meta">Cypriano Italiano</p>
            <h3 class="title"><a href="#">Bluza z kapturem</a></h3>
            <form class="form">
              <div class="price-block">
                <p class="price"><span>200 zł</span>140 zł</p>
              </div>
              <div class="choice">
                <div class="select">
                  <select>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                    <option>XXXL</option>
                  </select>
                </div>
                <div class="radio-items">
                  <div class="radio">
                    <input id="black-2" type="radio" name="color-2"/>
                    <label for="black-2" style="color:#000000;"></label>
                  </div>
                  <div class="radio">
                    <input id="grey-2" type="radio" name="color-2"/>
                    <label for="grey-2" style="color:#B2B2B3;"></label>
                  </div>
                  <div class="radio">
                    <input id="orange-2" type="radio" name="color-2"/>
                    <label for="orange-2" style="color:#F26C4F;"></label>
                  </div>
                </div>
                <button class="button icon-plus" type="submit">Dodaj do koszyka</button>
              </div>
            </form>
          </div>
          <div class="item"><a href="#"><img src="img/bluza.png" alt=""/></a>
            <p class="meta">Cypriano Italiano</p>
            <h3 class="title"><a href="#">Bluza z kapturem</a></h3>
            <form class="form">
              <div class="price-block">
                <p class="price"><span>200 zł</span>140 zł</p>
              </div>
              <div class="choice">
                <div class="select">
                  <select>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                    <option>XXXL</option>
                  </select>
                </div>
                <div class="radio-items">
                  <div class="radio">
                    <input id="black-3" type="radio" name="color-3"/>
                    <label for="black-3" style="color:#000000;"></label>
                  </div>
                  <div class="radio">
                    <input id="grey-3" type="radio" name="color-3"/>
                    <label for="grey-3" style="color:#B2B2B3;"></label>
                  </div>
                  <div class="radio">
                    <input id="orange-3" type="radio" name="color-3"/>
                    <label for="orange-3" style="color:#F26C4F;"></label>
                  </div>
                </div>
                <button class="button icon-plus" type="submit">Dodaj do koszyka</button>
              </div>
            </form>
          </div>
          <div class="item"><a href="#"><img src="img/bluza.png" alt=""/></a>
            <p class="meta">Cypriano Italiano</p>
            <h3 class="title"><a href="#">Bluza z kapturem</a></h3>
            <form class="form">
              <div class="price-block">
                <p class="price"><span>200 zł</span>140 zł</p>
              </div>
              <div class="choice">
                <div class="select">
                  <select>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                    <option>XXXL</option>
                  </select>
                </div>
                <div class="radio-items">
                  <div class="radio">
                    <input id="black-4" type="radio" name="color-4"/>
                    <label for="black-4" style="color:#000000;"></label>
                  </div>
                  <div class="radio">
                    <input id="grey-4" type="radio" name="color-4"/>
                    <label for="grey-4" style="color:#B2B2B3;"></label>
                  </div>
                  <div class="radio">
                    <input id="orange-4" type="radio" name="color-4"/>
                    <label for="orange-4" style="color:#F26C4F;"></label>
                  </div>
                </div>
                <button class="button icon-plus" type="submit">Dodaj do koszyka</button>
              </div>
            </form>
          </div>
          <div class="item"><a href="#"><img src="img/bluza.png" alt=""/></a>
            <p class="meta">Cypriano Italiano</p>
            <h3 class="title"><a href="#">Bluza z kapturem</a></h3>
            <form class="form">
              <div class="price-block">
                <p class="price"><span>200 zł</span>140 zł</p>
              </div>
              <div class="choice">
                <div class="select">
                  <select>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                    <option>XXXL</option>
                  </select>
                </div>
                <div class="radio-items">
                  <div class="radio">
                    <input id="black-5" type="radio" name="color-5"/>
                    <label for="black-5" style="color:#000000;"></label>
                  </div>
                  <div class="radio">
                    <input id="grey-5" type="radio" name="color-5"/>
                    <label for="grey-5" style="color:#B2B2B3;"></label>
                  </div>
                  <div class="radio">
                    <input id="orange-5" type="radio" name="color-5"/>
                    <label for="orange-5" style="color:#F26C4F;"></label>
                  </div>
                </div>
                <button class="button icon-plus" type="submit">Dodaj do koszyka</button>
              </div>
            </form>
          </div>
          <div class="item"><a href="#"><img src="img/bluza.png" alt=""/></a>
            <p class="meta">Cypriano Italiano</p>
            <h3 class="title"><a href="#">Bluza z kapturem</a></h3>
            <form class="form">
              <div class="price-block">
                <p class="price"><span>200 zł</span>140 zł</p>
              </div>
              <div class="choice">
                <div class="select">
                  <select>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                    <option>XXL</option>
                    <option>XXXL</option>
                  </select>
                </div>
                <div class="radio-items">
                  <div class="radio">
                    <input id="black-6" type="radio" name="color-6"/>
                    <label for="black-6" style="color:#000000;"></label>
                  </div>
                  <div class="radio">
                    <input id="grey-6" type="radio" name="color-6"/>
                    <label for="grey-6" style="color:#B2B2B3;"></label>
                  </div>
                  <div class="radio">
                    <input id="orange-6" type="radio" name="color-6"/>
                    <label for="orange-6" style="color:#F26C4F;"></label>
                  </div>
                </div>
                <button class="button icon-plus" type="submit">Dodaj do koszyka</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

html_layout/pug/layout/products-category-content.pug
section.products 
    .container-fluid
        .row.align-items-center
            .col
                .top-head
                    h1.title Wyniki dla:
                        span.icon-edited bluza
                    a.icon-right(href="#") Przewiń po więcej
                .products-slider(data-title="Cypriano Italiano")
                    .item
                        p.sale-budge -20%
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        p.meta Cypriano Italiano
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-1(type="radio" name="color-1")
                                        label(for="black-1" style="color:#000000;")
                                    .radio
                                        input#grey-1(type="radio" name="color-1")
                                        label(for="grey-1" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-1(type="radio" name="color-1")
                                        label(for="orange-1" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
                    .item
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        p.meta Cypriano Italiano
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-2(type="radio" name="color-2")
                                        label(for="black-2" style="color:#000000;")
                                    .radio
                                        input#grey-2(type="radio" name="color-2")
                                        label(for="grey-2" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-2(type="radio" name="color-2")
                                        label(for="orange-2" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
                    .item
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        p.meta Cypriano Italiano
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-3(type="radio" name="color-3")
                                        label(for="black-3" style="color:#000000;")
                                    .radio
                                        input#grey-3(type="radio" name="color-3")
                                        label(for="grey-3" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-3(type="radio" name="color-3")
                                        label(for="orange-3" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
                    .item
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        p.meta Cypriano Italiano
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-4(type="radio" name="color-4")
                                        label(for="black-4" style="color:#000000;")
                                    .radio
                                        input#grey-4(type="radio" name="color-4")
                                        label(for="grey-4" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-4(type="radio" name="color-4")
                                        label(for="orange-4" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
                    .item
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        p.meta Cypriano Italiano
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-5(type="radio" name="color-5")
                                        label(for="black-5" style="color:#000000;")
                                    .radio
                                        input#grey-5(type="radio" name="color-5")
                                        label(for="grey-5" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-5(type="radio" name="color-5")
                                        label(for="orange-5" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
                    .item
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        p.meta Cypriano Italiano
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-6(type="radio" name="color-6")
                                        label(for="black-6" style="color:#000000;")
                                    .radio
                                        input#grey-6(type="radio" name="color-6")
                                        label(for="grey-6" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-6(type="radio" name="color-6")
                                        label(for="orange-6" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
