html_layout/layout/product-content.html

<section class="product">
  <div class="container-fluid"> 
    <div class="row align-items-center">
      <div class="col-4" id="product-32"> <a class="icon-left" href="#">Przewiń po więcej</a>
        <p class="meta">Cypriano Italiano</p>
        <h1 class="title">Bluza z kapturem</h1>
        <p class="price" data-percent="-20%"><span>200 zł</span>140 zł</p>
        <div class="product-slider-thumbnail">
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
        </div>
      </div>
      <div class="col-4">
        <div class="product-slider" data-title="Cypriano Italiano" style="color:#A1B8DF;">  
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
          <div class="item"><img src="img/bluza.png" alt=""/></div>
        </div>
      </div>
      <div class="col-4">
        <div class="product-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea</p>
          <form class="form">
            <div class="radio-items">
              <label>Kolor</label>
              <div class="radio">
                <input id="black-1" type="radio" name="color-1"/>
                <label for="black-1" style="color:#000000;"></label>
              </div>
              <div class="radio">
                <input id="grey-1" type="radio" name="color-1"/>
                <label for="grey-1" style="color:#B2B2B3;"></label>
              </div>
              <div class="radio">
                <input id="orange-1" type="radio" name="color-1"/>
                <label for="orange-1" style="color:#F26C4F;"></label>
              </div>
            </div>
            <div class="select">
              <label>Rozmiar</label>
              <select>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
                <option>XXL</option>
                <option>XXXL</option>
              </select>
            </div>
            <div class="input">
              <label>Ilość</label>
              <input type="number" value="1"/>
            </div>
            <button class="button icon-plus" type="submit">Dodaj do koszyka</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

html_layout/pug/layout/product-content.pug
section.product
    .container-fluid 
        .row.align-items-center
            .col-4#product-32 
                a.icon-left(href="#") Przewiń po więcej
                p.meta Cypriano Italiano
                h1.title Bluza z kapturem
                p.price(data-percent="-20%")
                    span 200 zł
                    | 140 zł
                .product-slider-thumbnail
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
            .col-4
                .product-slider(data-title="Cypriano Italiano" style="color:#A1B8DF;")   
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
            .col-4
                .product-description
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    form.form
                        .radio-items
                            label Kolor
                            .radio
                                input#black-1(type="radio" name="color-1")
                                label(for="black-1" style="color:#000000;")
                            .radio
                                input#grey-1(type="radio" name="color-1")
                                label(for="grey-1" style="color:#B2B2B3;")
                            .radio
                                input#orange-1(type="radio" name="color-1")
                                label(for="orange-1" style="color:#F26C4F;")
                        .select
                            label Rozmiar
                            select
                                option S
                                option M
                                option L
                                option XL
                                option XXL
                                option XXXL
                        .input
                            label Ilość
                            input(type="number" value="1") 
                        button.button.icon-plus(type="submit") Dodaj do koszyka
